@model IEnumerable<ISFMOCM_Project.Models.UserInforViewModel>

@{
    ViewBag.Title = "ពត៌មានលម្អិតរបស់អ្នកប្រើប្រាស់";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="bs-example">
    <div class="panel panel-default">
        <div class="panel-heading">

            <p>
                @Html.ActionLink("បង្កើតថ្មី", "Register","Account")
            </p>

        </div>

        <div class="panel-body">

            @{ WebGrid gridUser = new WebGrid(Model, rowsPerPage: 12);}

            @gridUser.GetHtml(
          fillEmptyRows: false,
          mode: WebGridPagerModes.All,
          firstText: "<< First",
          nextText: "Next >",
          previousText: "< Previous",
          lastText: "Last >>",
          tableStyle: "table table-bordered",
          footerStyle: "text-center",
          columns: new[]{
             gridUser.Column("First_name","គោត្តនាម",style:"width-20-per font-12"),
             gridUser.Column("Last_name","នាម",style:"width-20-per font-12"),
             gridUser.Column("user_name","ឈ្មោះ​អ្នកប្រើប្រាស់",style:"width-20-per font-12"),
             gridUser.Column("Email","អ៊ីមែល",style:"width-10-per font-12")
             //gridUser.Column(header:"ជម្រើស",style:"text-center p0 width-10-per font-12",format:(item) =>  new HtmlString(
             //    (

                 //      Html.ActionLink("    ", "", new { }, new{@class="glyphicon glyphicon-pencil gray-icon" }).ToHtmlString()

                 //    +" " + "|" + " " +
                 //      Html.ActionLink("    ", "", new { }, new{@class="glyphicon glyphicon-eye-open gray-icon" }).ToHtmlString()

                 //    +" " + "|" + " " +

                 //    Html.ActionLink("    ", "", new { }, new{@class="glyphicon glyphicon-trash gray-icon",onclick="return onDelete()" }).ToHtmlString()

                 //   )
                 //   )
                 //)

          }
          )
        </div>
    </div>
</div>